body {
  background-color: white;
  cursor: url("https://psycho-baller.github.io/CalgaryHacks/images/cursor.cur");
}
.foo{
  cursor: url("https://psycho-baller.github.io/CalgaryHacks/images/cursor.cur");
}
