body {
  background-color: white;
  cursor: url("https://psycho-baller.github.io/CalgaryHacks/images/cursor.svg");
}
.foo{
  cursor: url("https://psycho-baller.github.io/CalgaryHacks/images/cursor.svg");
}
