*{
  margin: 0;
  padding: 0;
}

.intro{
  color: white;
  text-align: center;
  position: absolute;
  z-index: 1;
}

.headline{
  width: 100%;
  margin: 0;
  padding: 0;
}

.vid{
 margin: 0;
 padding: 0;
}

.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}  
